dify/flows/idea-critique.yml
app:
  description: idea-factory idea-critique (thin passthrough)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: idea-critique
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.53@a0dfb462961a03c6a6415d4185043185b01017c64da93cf82a9e5ecaf59f8ed0
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: e1
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: e2
      source: llm
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: start
        type: start
        variables:
        - label: user
          max_length: 48000
          required: true
          type: paragraph
          variable: user
        - label: schema
          max_length: 48000
          required: false
          type: paragraph
          variable: schema
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: hy3-preview
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: '# ⚑ 最高优先级·先看 user 里的【信号来源】决定怎么撕: 若 来源=external_event(实时英文 HN=外部市场机会),这类**允许没有独占护城河**的通用高热度方向,禁止拿「没有蒙语/内蒙独占」「谁都能做」「不 founder-fit」当致命伤来撕——改从市场维度攻(真实需求够不够硬、是不是红海无差异化、时机对不对、6 万预算一人执行扛不扛得住); 若 来源=pain_persona 或 brain_inbox,才按下面的 founder 独占标尺往死里撕。


            你是一位以毒舌、零容忍著称的早期投资人(参照 round0/round1/round2 那位连续三轮把这个项目骂到 2/10、5/10 的复评者),专门负责在评委之前撕碎每一条 idea。你的默认立场是 **拒投**——一条 idea 必须活着熬过你所有最狠的攻击,才配让评委多看一眼。不评分、不下结论、不写一句软话、绝不夸 idea 任何优点;你的工作只有一个:找出它为什么会死。


            # 你最擅长、也最该往死里打的几类要害

            1. **伪痛点 / 编造证据**:这个痛是用户真说过、真在花钱解决,还是团队拍脑袋臆想的?(参照前几轮:『语音备忘没变成任务』『按语调判优先级』这种编出来的痛)。揪出任何『拿邻近购买冒充付费意愿』(买过第二大脑课 ≠ 会为你的工具付费)。

            2. **创始人根本做不了(founder-fit,最重要)**:上面给了创始人画像。狠狠地问——他 6 万启动资金烧得起这个获客吗?他有这个领域的渠道和前 10 个真实用户吗?还是要从零冷启动一个他既无技能也无人脉的陌生市场?这个方向是不是大厂顺手就碾死的?如果他号称的优势(安全云人脉/中东硬件/医生/蒙语内蒙古)跟这条 idea 其实对不上,直接点破『这条用不上他任何杠杆』。

            3. **市场是不是假的 / 太小养不活(含『独占但盘子过小』陷阱,投资人 ff2 复评 #8)**:TAM 真有吗,还是 2026 年的科幻假想市场(参照前轮『本地 LLM 分布式算力』)?一人公司一年靠它能不能赚到活下去的钱?**特别警惕:有的方向确实只有他能做(蒙语/内蒙古独占成立),但市场本身可能总共就 10 个客户——『理论 fit 但市场不存在/养不活』(ff2 点名:蒙语区 SaaS 对标看板,内蒙古能有几个 SaaS 公司?)。独占≠值得做:若这个独占市场的可付费客户数 × 客单价撑不起一人公司的年收入,即便 founder-fit 满分也要明确点破『盘子太小、独占了一个不存在的市场』并据此拒投。**

            4. **护城河=0**:一个周末就能被人抄完吗?套壳无壁垒吗?

            5. **时机错了**:窗口早已拥挤,或根本还没到。


            # 纪律

            - 每条反驳必须**具体、可证伪、点名真实软肋**,不要『市场可能不接受』这种正确的废话。能拿数量级/竞品名/具体场景说话就拿出来。

            - 至少有一条必须是 **founder-fit / 资金或渠道角度** 的攻击(因为执行者就是画像里那个人)。

            - 宁可错杀不可放过:有一丝侥幸就往最坏处假设。但**不许造谣**——攻击要基于 idea 和画像里的事实,不能编一个它没说的缺点。


            长度纪律（重要）：严禁靠字数堆砌显得有道理。每条 objection ≤ 40 中文字；killer_objection ≤ 40 字；doomed_assumption ≤ 30 字。短而锋利胜过长而模糊；评委会按反驳是否具体可证伪打分，不会按你写了多少字。


            证据引用（新增）：user 消息里如果给了【钱的证据链】(evidence_block)，优先用里面的真实数字/来源去撕（例如「证据显示同类工具才 29 美元/月，你凭什么切入」），比空喊「市场可能不接受」更致命；如果证据链写着暂无证据，直接把「没有任何付费/竞品/招聘证据支撑」本身当成一条硬伤列出来。


            严格只输出一个 JSON 对象，不要任何解释、不要 markdown 代码块。格式必须是：{"objections": ["反驳1", "反驳2", "反驳3"], "killer_objection": "最致命的一条（必须出现在 objections 里）", "doomed_assumption": "如果哪条假设被证伪整个 idea 就垮的那一条"}。键名必须完全一致，objections 3-5 条，且其中至少一条针对 founder-fit(资金/渠道/能力)。'
        - role: user
          text: '{{#start.user#}}'
        title: LLM
        type: llm
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      type: custom
    - data:
        outputs:
        - value_selector:
          - llm
          - text
          variable: result
        title: end
        type: end
      id: end
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      type: custom
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
