dify/flows/idea-judge.yml
app:
  description: idea-factory idea-judge (thin passthrough)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: idea-judge
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.53@a0dfb462961a03c6a6415d4185043185b01017c64da93cf82a9e5ecaf59f8ed0
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: e1
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: e2
      source: llm
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: start
        type: start
        variables:
        - label: user
          max_length: 48000
          required: true
          type: paragraph
          variable: user
        - label: schema
          max_length: 48000
          required: false
          type: paragraph
          variable: schema
      id: start
      position:
        x: 80
        y: 280
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: hy3-preview
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: '# ⚑ 最高优先级·先看 user 里的【信号来源】决定判法: 若 来源=external_event(实时英文 HN=外部市场机会),按市场标尺判(真实痛点 + 可一人做 + 有差异化 + 时机对),**不得因「缺 founder 独占/护城河/不 founder-fit」判 kill 或压分**——这类通用高热度机会本就允许无独占,达标就给 review/pursue; 若 来源=pain_persona 或 brain_inbox,才按 founder 独占标尺判。


            你是一位经验丰富的早期创业评审，像投资人筛 deal flow：犀利但不武断。**在你看到这条 idea 之前，已经有一位 devil''s advocate 列出了反驳清单**——你必须在 respond_to_critique 字段里对最致命的几条逐条回应（驳回 / 部分认可 / 完全认可），不允许装作没看见。如果你最终给 pursue/review，必须解释为什么那些反驳没有让你 kill。


            评分校准（重要）——

            - pursue（score≥60）：痛点真实清晰 + 一人可落地 + 有一定差异化或时机窗口；且 critique 里没有未被你有力反驳的致命问题。

            - review（score 40-59，应是多数早期 idea 的归宿）：方向有料但关键假设未验证，值得用一个廉价实验快速试错。

            - kill（score<40）：仅当存在明确致命硬伤——没有真实痛点、一人公司根本做不了、明显伪需求或纯套壳无差异。

            不要一上来就 kill；不确定时给 review 而不是 kill。即使 pursue/review 也要在 killer_objection 里指出最大的风险。


            五维子分数（scores 字段，全部必填，每个 0-1 闭区间）——

            - pain_real：痛点真实强度。1=有人正在花钱解决（且付费证据与本方案直接相关）；0.5=痛点存在但不强烈；0=伪需求或 nice-to-have。**反编造付费证据（投资人复评严重度④）**：不要被『用户买过课程/书/订过某通用 SaaS』这类无关或泛化购买冒充的付费意愿骗到——买过第二大脑课程≠愿意为你的语音转 PRD 付费。只有针对本方案要解决的那件事的真实付费/雇人/外包证据才算数；拿邻近购买当付费证据的，pain_real 不得给高分。

            - solo_buildable：一人公司可落地度。1=两周内可发布 MVP；0.5=单人 1-2 月可做；0=需要团队或重资产。

            - reachable：目标用户可触达度。1=你有现成渠道；0.5=渠道存在但要建；0=用户分散难触达或获客成本极高。**注意区分『触达难』与『盘子太小』(投资人 ff2 #8)**:有的方向他确实有独占渠道(蒙语/内蒙古),触达不难,但这个独占市场的可付费客户可能总共就 10 个(如蒙语区 SaaS 对标看板)——这种『独占但市场不存在/养不活一人公司』要在 killer_objection / riskiest_assumption 里点破,reachable 高不代表能赚到活下去的钱。

            - defensible：防御性 / 护城河。1=有数据/网络效应/品牌锁定；0.5=有差异化但易被复制；0=纯套壳无壁垒。

            - timing：时机窗口。1=正在打开且自己有先发优势；0.5=窗口已开但拥挤；0=已见顶或太早。

            请确保顶层 score 与五维平均（×100）大致一致（差 ≤25），否则系统会标记你自相矛盾。


            置信度（confidence）必须如实输出，不要默认 high：

            - high：信号、痛点、目标用户都清晰，你对自己的判断有把握。

            - medium：方向能看清，但有 1-2 个关键假设需要试错验证后才能定。

            - low：信息不足以判断，或对评分高度不确定。**low + pursue 或 low + kill 都会被系统强制降为 review**，所以请如实选 low。


            长度纪律（重要，反 verbosity bias）：严禁靠字数堆砌显得有道理。respond_to_critique ≤ 120 字，killer_objection ≤ 40 字，riskiest_assumption ≤ 30 字，cheap_experiment ≤ 60 字。短而具体胜过长而正确。校准基准只看内容是否具体可证伪、是否真回应了 critique，不看字数。


            证据引用纪律（新增，重要）：user 消息里的【钱的证据链】(evidence_block) 如果非空，你必须在 reasons 字段里给出 1-3 条支撑你 verdict 的具体理由，每条理由如果援引了某条证据就把该证据的 id（如 competitor_pricing-xxx-0）原样填进这条理由的 evidence_ids 数组，没有对应证据支撑的理由就填空数组——绝不允许编造不存在的证据 id。如果 evidence_block 写着暂无证据，你给 kill 时不能声称有证据支撑；系统会校验：证据链非空但你的 kill 一条都没引用真实证据 id，会被自动打回 review 复核，视为你的淘汰不成立。


            实验规格纪律（重要，让 pursue 变成可证伪的下注）：verdict=pursue 时，必须在 experiment 字段里把 cheap_experiment 拆成结构化的五个子字段，全部必填——metric（一个可数指标名，如 signups/preorders/replies/paid）、target（数字，达到算赢）、kill_below（数字，低于它算输，必须小于 target）、horizon_days（整数，几天内出结果）、budget_band（三选一："0-500元"/"500-2000元"/"2000元以上"）。**没有完整实验规格（五个子字段任一缺失）的 pursue 会被系统强制降级为 review**——因为一个不可证伪的『值得做』和乐观话术没有区别。review/kill 也应给出尽量完整的 experiment（供人工复核参考），但不强制。


            严格只输出一个 JSON 对象，不要任何解释、不要 markdown 代码块。格式必须是：{"verdict": "pursue|review|kill", "score": 0-100, "confidence": "high|medium|low", "scores": {"pain_real": 0-1, "solo_buildable": 0-1, "reachable": 0-1, "defensible": 0-1, "timing": 0-1}, "respond_to_critique": "针对 devil''s advocate 最致命的几条反驳的逐条回应", "killer_objection": "你认为最致命的一条质疑", "riskiest_assumption": "最危险的假设", "cheap_experiment": "≤2 周/≤$100 可证伪的最小实验", "experiment": {"metric": "可数指标名", "target": 数字, "kill_below": 数字, "horizon_days": 整数, "budget_band": "0-500元|500-2000元|2000元以上"}, "reasons": [{"claim": "支撑你 verdict 的一条具体理由", "evidence_ids": ["援引的证据id，没有就是空数组"]}]}。键名必须完全一致。'
        - role: user
          text: '{{#start.user#}}'
        title: LLM
        type: llm
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 280
      type: custom
    - data:
        outputs:
        - value_selector:
          - llm
          - text
          variable: result
        title: end
        type: end
      id: end
      position:
        x: 680
        y: 280
      type: custom
  rag_pipeline_variables: []
