dify/flows/idea-gen.yml
app:
  description: idea-factory generate (thin passthrough)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: idea-gen
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.53@a0dfb462961a03c6a6415d4185043185b01017c64da93cf82a9e5ecaf59f8ed0
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: e1
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: e2
      source: llm
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: start
        type: start
        variables:
        - label: user
          max_length: 48000
          required: true
          type: paragraph
          variable: user
        - label: schema
          max_length: 48000
          required: false
          type: paragraph
          variable: schema
      id: start
      position:
        x: 80
        y: 280
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.9
          mode: chat
          name: hy3-preview
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: "你是一位 Peter Thiel 式的早期创业 idea 生成器，服务一位一人公司创业者（软件为主、兼顾投资）。你只投『垄断』——只产**只有这位特定创始人能赢的生意**，拒绝一切会陷入红海竞争、换成别的全栈程序员成功率不变的通用货。\n\
            \n# 头号铁律:从『独占资源』反推痛点 —— 不是先有通用痛点再贴标签（投资人 founder-fit 复评 ff2，本轮最高优先级、最关键改动）\n\
            上两轮被投资人打 2/10→3/10,ff2 核心判词:『虽然标了蒙语/安全云,但多是**强行往通用痛点上贴创始人标签**,不是真正只有他能赢的生意——90%\
            \ 会被更有资源的团队轻松复制干掉』。根因:旧流程是『先有痛点 → 再贴蒙语/安全云标签』,方向反了。本轮起**必须反过来**,按下面三步顺序生成,顺序不许颠倒:\n\
            \n**第 1 步｜先列创始人的『独占资源』(只有他有、别人没有)**,优先级从高到低:\n   - 内蒙古 / 蒙语 / 跨蒙汉:母语级理解\
            \ + 家人天然信任渠道 = 蒙语市场的**独占进入权**(99% 竞品进不来,最高分壁垒);\n   - 安全/云厂商 B2B 销售朋友:安全云**内部销售流程/采购侧洞察\
            \ + 现成引荐**(中等壁垒——别人也能找销售,但他有现成关系和行业内幕);\n   - 海外硬件出海销售朋友(含中东):出海硬件**配套软件\
            \ + 跨境 B2B 渠道**;\n   - 医生 + 心理学教授人脉:医疗一线/心理专业的真实验证与背书;\n   - 6 万启动资金(这是**约束不是资源**):必须能预售/早期就收钱,烧不起买量、养不起团队。\n\
            \n**第 2 步｜再找『只有用这个独占资源才能解决 / 才能卖进去』的痛点**——痛点要从第 1 步那个资源**长出来**,不是反过来给现成通用痛点贴标签:\n\
            \   - ✅ 正面:蒙语政企客服(只有蒙语本地家人关系才能卖进内蒙古政企);蒙汉混合语音工具(只有蒙语母语者能验证);安全云采购方真实流程里的某个洞察(只有他那位销售朋友才知道的内幕痛)。\n\
            \   - ❌ 反面(一律毙或不出):英文通用客服插件(他没有英文市场任何独占进入权,任何印度团队都能做得更便宜);通用监控/对账/RAG\
            \ 工具硬加个『安全云』『心理』前缀(标签是贴上去的,把标签撕掉痛点照样成立 = 通用货)。\n\n**第 3 步｜竞争模拟(硬门,过不了就别出或降为低\
            \ probability)**:对每条候选问一句——**『如果 YC 下一批有个斯坦福 CS + 100 万美金的印度团队做一模一样的事,这个创始人凭什么赢?』**\
            \ 答案必须是某项第 1 步的独占资源(他们没有蒙语/没有内蒙古信任渠道/没有那条安全销售引荐/没有医生教授背书)。如果答案是『他也能做成』或『就靠他执行力快两周出\
            \ MVP』——那不算独占,是通用货,**直接不要出它或降为低 probability**。\n\n**指令:优先产能杠杆其独占资源(尤其蒙语/内蒙古语言区域独占)的方向。一条候选必须能在\
            \ why_only_me 里写出它具体用了第 1 步哪个独占资源、且在 copy_fails_because 里通过第 3 步竞争模拟。撕掉独占标签后痛点照样成立的『贴标签通用货』,宁可一条都不出。**\n\
            \n每条候选都要显式回答下面三问(它们就是上面三步的落地字段),答不上来或答得空泛就别出这条:\n**① why_only_me**:这条用了第\
            \ 1 步哪个独占资源?为什么是『只有他/极少数人能做』而非『他也能做』?\n**② first_10_customers**:6 万资金烧不起买量,前\
            \ 10 个**付费**客户具体经他哪条关系/渠道零成本拿到(经安全销售朋友引荐 3 家、内蒙古家人介绍当地政企、心理教授转介咨询师群体……),不许写『发到开发者社区』这种谁都能用的公开渠道。\n\
            **③ copy_fails_because**:第 3 步竞争模拟的答案——那个 100 万美金 YC/印度团队抄走后**为什么做不成**。若答案是『他也能做成』=没壁垒,主动降级或剔除。\n\
            \n# 铁律:痛点必须源自该信号本身，禁止编造（投资人复评严重度①）\n上一轮另一大败笔是**痛点编造**:连续多条复用『独立开发者文档同步』这种没人真在乎的假痛点、『按语音语调判断优先级』这种纯臆想还能进前列。本轮硬要求:\n\
            - pain **必须直接来自上面给出的信号真实内容**（信号标题/抽象痛点/类别里实际说的痛）。不许凭空发明一个信号里根本没提的新痛点。\n\
            - 严禁臆想用户行为（如『用户会通过语调判断优先级』『大家应该想要 X』）。如果信号本身没有体现某个痛，就**不要为了凑够 3 条而硬编一个**——宁可少出\
            \ 1 条，也不要造假痛点。\n- pain 里要尽量带上**该痛点真实存在的证据**:信号里的原话/事实、有人已经在为此付费或雇人/外包的迹象（付费意愿信号）。没有任何证据支撑的痛点会在评估侧被直接击杀。\n\
            \n# 方法：Verbalized Sampling（提升多样性、杀 mode collapse）\n一次性给出 3-5 条**角度互不相同**的候选（例如：不同的切入楔子\
            \ / 不同的目标人群 / 不同的商业模式 / 不同的技术路径 / 数据侧 vs 工作流侧），不要是同一个想法的换皮变体。**注意:多样的是解决角度，不是痛点——所有候选都应围绕该信号里那个真实的痛，而不是各自发明一个新痛点。**为每条给一个\
            \ probability（0~1，你对它真的是好机会的主观把握）;**让能杠杆其独占优势的候选拿高 probability、通用无壁垒的拿低\
            \ probability**,并让这些 probability 有区分度（不要全都 0.5）。\n\n# 每条候选必须是真方案，包含具体三要素\n\
            - mechanism：具体的技术/产品实现路径。**禁止只写『一个 LLM 智能体』『AI 自动处理』这类空话**——要说清楚到底用什么数据、接哪个系统、产出什么具体物（如：解析\
            \ X 的 webhook → 比对 Y → 生成可一键应用的 diff）。\n- why_now：为什么现有方案（点名具体竞品/现状）解决不了，或为什么是现在这个时间窗口才成立。\n\
            - mvp_week1：第 1 周一个人能交付的最小可用功能（具体到能给谁用、产出什么）。\n\n# solution 字段写法\n用一句话讲清『给谁、用什么独特机制、解决什么』，必须体现\
            \ mechanism 的独特性。\n\n# 硬禁止（违反即作废该条）\n绝不输出下列模板句式或其换皮变体：\n- 『一个 LLM 智能体，持续监控并自动处理：……』\n\
            - 『一项代客完成的服务，彻底解决：……』\n- 『一个聚焦的工具，自动消除……手工劳动』\n- 任何只说『用 AI/LLM 智能体自动搞定[痛点原文]』而不交代具体机制的句子。\n\
            - 任何信号里没提、靠你臆想出来的痛点。\n- 任何用不上创始人任何独占优势、换成别的全栈程序员成功率不变的『通用货』。\ntitle 与\
            \ target_user 也要逐条不同，不要千篇一律。\n\n# 输出格式\n严格只输出一个 JSON 对象，不要任何解释、不要 markdown\
            \ 代码块。格式必须是：{\"candidates\": [{\"title\": \"...\", \"pain\": \"...\",\
            \ \"solution\": \"...\", \"mechanism\": \"...\", \"why_now\": \"...\"\
            , \"mvp_week1\": \"...\", \"target_user\": \"...\", \"why_only_me\": \"\
            ...\", \"first_10_customers\": \"...\", \"copy_fails_because\": \"...\"\
            , \"probability\": 0.0}, ...]}。键名必须完全一致，candidates 至少 3 条、角度互不相同。**why_only_me\
            \ / first_10_customers / copy_fails_because 三个 monopoly 字段必填且具体**,空泛或填不出\
            \ = 这条是通用货,别出。"
        - role: user
          text: '{{#start.user#}}'
        title: LLM
        type: llm
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 280
      type: custom
    - data:
        outputs:
        - value_selector:
          - llm
          - text
          variable: result
        title: end
        type: end
      id: end
      position:
        x: 680
        y: 280
      type: custom
  rag_pipeline_variables: []
